Repository kristenmb/ozoneIQ, pull requests merged in 2021-02, with the labels that each got.

#13 Feat/landing page
  src/Components/App/App.js
  src/Components/Footer/Footer.js
  src/Components/LandingPage/LandingPage.css
  src/Components/LandingPage/LandingPage.js
  src/assets/homebtn.png
  src/assets/humidity.png
  src/assets/location.svg
  src/assets/locations.png
  src/assets/pollution.png
  src/assets/pressure.png
  src/assets/questionmark.png
  src/assets/search.png
  src/assets/sun.svg
  src/assets/wind.png
Labels: LandingPage Component, styling

#17 Style footer and change sun to logo
  package.json
  src/Components/App/App.js
  src/Components/Footer/Footer.css
  src/Components/Footer/Footer.js
  src/Components/LandingPage/LandingPage.css
  src/Components/LandingPage/LandingPage.js
  src/assets/logo4.png
Labels: LandingPage Component, styling

#19 Feat/aqi info and resources
  package-lock.json
  package.json
  src/Components/AqiInfo/AqiInfo.css
  src/Components/AqiInfo/AqiInfo.js
  src/Components/Resources/Resources.css
  src/Components/Resources/Resources.js
  src/aqiData.js
Labels: AQI Info Component, Resources Component

#32 Feat/about page
  public/index.html
  src/Components/App/App.css
  src/Components/Contact/Contact.css
  src/Components/Contact/Contact.js
  src/Components/Contact/Contact.scss
  src/assets/KB.png
  src/assets/LM.png
  src/assets/RB.png
Labels: About Component, styling

#35 Feat/resources page
  src/Components/App/App.js
  src/Components/AqiInfo/AqiInfo.js
  src/Components/AqiInfo/AqiInfo.scss
  src/Components/Resources/Resources.css
  src/Components/Resources/Resources.js
  src/Components/Resources/Resources.scss
  src/aqiData.js
  src/assets/left-arrow.png
  src/assets/right-arrow.png
Labels: AQI Info Component, Resources Component, refactor, styling
