Repository kristenmb/ozoneIQ, pull requests merged in 2021-03, with the labels that each got.

#45 Refactor/error and display
  src/Components/App/App.css
  src/Components/App/App.js
  src/Components/AqiInfo/AqiInfo.js
  src/Components/AqiInfo/AqiInfo.scss
  src/Components/Contact/Contact.js
  src/Components/Contact/Contact.scss
  src/Components/Dashboard/Dashboard.js
  src/Components/Dashboard/Dashboard.scss
  src/Components/LandingPage/LandingPage.js
  src/Components/LandingPage/LandingPage.scss
  src/Components/Resources/Resources.css
  src/Components/SavedLocations/SavedLocations.js
  src/assets/broken-clouds.png
  src/assets/clear-sky-day.png
  src/assets/clear-sky-night.png
  src/assets/few-clouds-day.png
  src/assets/few-clouds-night.png
  src/assets/rain-day.png
  src/assets/rain-night.png
  src/assets/scattered-clouds.png
  src/assets/shower-rain.png
  src/assets/snowy.png
  src/assets/windy.png
  src/utilities.js
Labels: LandingPage Component, enhancement, refactor, styling

#39 Feat/saved locations
  package-lock.json
  package.json
  public/sw.js
  src/Components/App/App.css
  src/Components/App/App.js
  src/Components/Dashboard/Dashboard.js
  src/Components/Footer/Footer.js
  src/Components/LandingPage/LandingPage.js
  src/Components/SavedLocalCards/SavedLocalCards.js
  src/Components/SavedLocalCards/SavedLocalCards.scss
  src/Components/SavedLocations/SavedLocations.css
  src/Components/SavedLocations/SavedLocations.js
  src/Components/SavedLocations/SavedLocations.scss
  src/assets/Five-pointed_star.svg
  src/assets/Five_Pointed_Star_Solid.svg
  src/assets/remove.png
  src/assets/tempicon.png
  src/utilities.js
Labels: Dashboard Component, favoriting locations, help wanted, question

#46 Fix/styling refactor
  src/Components/App/App.css
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/AqiInfo/AqiInfo.js
  src/Components/AqiInfo/AqiInfo.scss
  src/Components/Contact/Contact.js
  src/Components/Contact/Contact.scss
  src/Components/Dashboard/Dashboard.js
  src/Components/Dashboard/Dashboard.scss
  src/Components/Footer/Footer.scss
  src/Components/LandingPage/LandingPage.js
  src/Components/LandingPage/LandingPage.scss
  src/Components/Resources/Resources.js
  src/Components/Resources/Resources.scss
  src/Components/SavedLocalCards/SavedLocalCards.js
  src/Components/SavedLocalCards/SavedLocalCards.scss
  src/Components/SavedLocations/SavedLocations.js
  src/Components/SavedLocations/SavedLocations.scss
  src/index.css
Labels: refactor, styling

#48 Feat/prop types
  src/Components/AqiInfo/AqiInfo.js
  src/Components/Contact/Contact.js
  src/Components/Dashboard/Dashboard.js
  src/Components/LandingPage/LandingPage.js
  src/Components/SavedLocalCards/SavedLocalCards.js
  src/Components/SavedLocations/SavedLocations.js
Labels: enhancement
